---

- name: Setup RedHat
  include_tasks: setup-RedHat.yml
  when: ansible_os_family == 'RedHat'

- name: Setup Debian
  include_tasks: setup-Debian.yml
  when: ansible_os_family == 'Debian'

- name: Install package
  include_tasks: install.yml

- name: Configure TimeScaleDB
  include_tasks: configure.yml